.contato{
  border-radius: 14px;
  background: #00A2A6;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content:space-around;
}
.contato a{
  position: relative;
  color: #fff;
  text-decoration-line: none;
  padding: 10px;
}
.contato  li{
  margin: 8px;
} 

.contato h4{
  font-size: 2.625rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.625rem;
}
.contato  a::before{
  display: block;
  content: "";
  width: 28px;
  height: 28px;
  position: absolute;
  left: -24px;
  top: 14px;
}
.contato .email::before{
  background: url(../img/email.svg) no-repeat center center;
}
.contato .numb::before{
  background: url(../img//whatsapp.svg) no-repeat center center;
}
.contato .insta::before{
  background: url(/img/insta.svg) no-repeat center center;
}
footer .copyright{
 display: flex;
 justify-content: space-between;
  opacity: 0.5;
}

