.experiencia{
  border-radius: 14px;
  background: #FFF;
  color: #141414;
  align-items: flex-start;
  margin: 40px auto;
}

.experiencia .subtitulo{
 color: #e0e0e0;
}

.experiencia_texto{
  color: #525252; 
}
.experiencia_texto strong{
  color: #141414;
}

.empresa{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;
  padding: 20px;
  background: #f5f5f5;
  margin-bottom: 20px;
  border-radius: 4px;
  position: relative;
}
.empresa_ano{
  position: absolute;
  text-align: right;
  width: 80px;
  top: 22px;
  left: -100px;
  color: #525252;
  font-size: 0.875rem;
}
.empresa::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#b6f829, #67dd0a);
  position: absolute;
  top: 20px;
  left: -4px;
}
.empresa_titulo {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold;
}
.empresa_texto {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #525252;
}
.empresa_habilidades{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}
.empresa_habilidades li {
  font-size: 0.875rem;
 line-height: 1.4;
 border-radius: 4px;
 background: #fff;
 padding: 5px 10px;
}