/* =========== font by google =========== */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* =========== VARIABLES CSS =========== */
:root{
  /* == Colors == */
  --bg-page: #161616;
  --bg-ibox: #fff;
  --bg-ibox-card: #f5f5f5;
  --line-grey: #f3f3f4;
  --line-white: #fff;
  --white: #fff;
  --green:#00A2A6;
  --green-hover:#B0FEE3;
  --green-2:#34AE75;
  --green-active: linear-gradient(180deg, #B6F829 0%, #67DD0A 100%);
  --orange:#FF581F;
  --ivory:#FDC959;
  --green-light: linear-gradient(180deg, #B6F829 0%, #67DD0A 100%);
  --bg-overlay: rgba(22, 22, 22, 0.30);
  
  --text-white-he: #fff;
  --text-white-me: rgba(255, 255, 255, 0.70);
  --text-white-le: rgba(255, 255, 255, 0.20);
  --text-black-he: #212220;
  --text-black-me: #525252;
  --text-black-le: #E0E0E0;

  /* == Font == */
  --body-font: "Fira Sans", Arial, sans-serif;
  --font-h1: 3.875rem;
  --font-h2: 9rem;
  --font-h3: 2rem;
  --font-h4: 1.5rem;
  --font-h4-post: 2rem;
  --font-h5: 1.1rem;
  --font-h6: 0.8rem;
  --font-p-lg: 1.5rem;
  --font-p-md: 0.9rem;
  --font-p-sm: 0.8rem;
  --font-p-post: 1.25rem;
  --font-caption: 0.6rem;
  --font-btn-sm: 1.125rem;
  
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-700: 700;

  --line-height-100: 100%;
  --line-height-140: 140%;
  --line-height-160: 160%;
  
  /* == Radio == */
  --space-radio-4: 0.25rem;
  --space-radio-14: 0.875rem;
  --space-radio-40: 2.5rem;

  /* == Gap == */
  --gap-0: 0rem;
  --gap-10: 0.625rem;
  --gap-16: 1rem;
  --gap-44:  2.75rem;
  --gap-104: 6.5rem;

  /* == Spacing == */
  --space-0: 0rem;
  --space-4: 0.25rem;
  --space-8: 0.5rem;
  --space-12: 0.75rem;
  --space-16: 1rem;
  --space-20: 1.25rem;
  --space-24: 1.5rem;
  --space-28: 1.75rem;
  --space-32: 2rem;
  --space-36: 2.25rem;
  --space-40: 2.5rem;
  --space-44: 2.75rem;
  --space-48: 3rem;
  --space-56: 3.5rem;
  --space-64: 4rem;
  --space-72: 4.5rem;
  --space-80: 5rem;
  --space-88: 5.5rem;
  --space-96: 6rem;
  --space-104: 6.5rem;
  --space-112: 7rem;
  --space-120: 7.5rem;
  --space-128: 8rem;
  --space-136: 8.5rem;
  --space-144: 9rem;
  --space-152: 9.5rem;
  --space-160: 10rem;
  --space-168: 10.5rem;
  --space-176: 11rem;
  --space-184: 11.5rem;
  --space-192: 12rem;
  --space-200: 12.5rem;
}

/* =========== BASE =========== */
h1{
  font-size: var(--font-h1);
  font-weight: var(--font-weight-700)
}
h2{
  font-size: var(--font-h2);
  font-weight: var(--font-weight-700);
  line-height: var(--line-height-100);
  text-transform: uppercase;
  word-break: break-all;
  max-width: 4ch;
}
h3{
  font-size: var(--font-h3);
  font-weight: var(--font-weight-500);
  line-height: var(--line-height-160);
}
h4{
  font-size: var(--font-h4);
  font-weight: var(--font-weight-400);
  line-height: var(--line-height-160);
}
h5{
  font-size: var(--font-h5);
  font-weight: var(--font-weight-500);
  line-height: var(--line-height-160);
}
h6{
  font-size: var(--font-h6);
  font-weight: var(--font-weight-500);
}
p{
  font-weight: var(--font-weight-400);
}
p.lg{
  font-size: var(--font-p-lg);
}
p.md{
  font-size: var(--font-p-md);
}
p.sm{
  font-size: var(--font-p-sm);
  line-height: var(--line-height-140);
}
caption{
  font-size: var(--font-caption);
  font-weight: var(--font-weight-400);
  font-style: italic;
  line-height: var(--line-height-160);
}
.btnsm{
  font-size: var(--font-btn-sm);
  line-height: var(--line-height-160);
  font-weight: var(--font-weight-400);
  line-height: var(--line-height-160);
  letter-spacing: 0.09rem;
}

body { 
  background: var(--bg-page);
  font-family: var(--body-font);
  margin: var(--space-0);
  color: var(--text-white-he);
  border: var(--space-4) solid var(--line-white);
  margin: var(--space-24);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: var(--space-0);
}
ul {
  margin: var(--space-0);
  padding: var(--space-0);
  list-style: none;
}
img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container{
  max-width: 1200px;
  padding: var(--space-40) var(--space-20);
  margin: var(--space-0) auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: var(--gap-104);
}

/* =========== HEADER =========== */
.container.header{
  gap: 10px; 
}
.header{
  padding: var(--space-20);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--space-4) solid #fff;
}
#btn_mobile{
  display: none;
}
.header img{
  width: 120px;
}
.header_menu {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-10);
  justify-content: center;
}
.header_menu a {
  display: block;
  padding: var(--space-12);
  text-decoration: none;
  color: var(--text-white-le);
  transition: background-color 0.3s, transform 0.3s;
}
.header_menu a:hover{
  color: var(--text-black-he);
  background: var(--green-hover);
}
.header_menu a:active{
  color: var(--text-black-he);
  background: var(--green-hover);
  transform: scale(0.95);
}
.header_menu a.active{
  color: var(--text-white-he);
  background: var(--green);
}

/* =========== Hero Area ===========*/
.introducao{
  grid: 
  "texto foto" 680px
  "tag   tag " 140px 
  /40%  auto;
  gap: var(--gap-0) var(--gap-16) ;
}
.introducao h1 {
  margin-bottom: var(--space-16);
  position: relative;
}
.introducao h1::before {
  content: "";
  display: block;
  width: var(--space-136);
  height: var(--space-104);
  background: url("../img/detalhe.svg") no-repeat center;
  position: absolute;
  top: -15px;
  left: -40px;
  z-index: -1;
}
.introducao p {
  color: var(--text-white-me);
}
.introducao .infoText{
  grid-area: texto;
  align-self: center;
}
.introducao .photo_profile{
  grid-area: foto;
  justify-self: center;
  height: auto;
  align-self: center;
  margin-left: var(--space-80);
}
.introducao .infoTec{
  grid-area: tag;
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-64) var(--space-28);
  justify-content: center;
  align-self: center;
}
.introducao .infoTec  h3{
  position: relative;
  min-width: var(--space-192);
}
.introducao .infoTec  h3::before{
  display: block;
  content: "";
  width: var(--space-192);
  height: var(--space-24);
  position: absolute;
  left: var(--space-0);
  top: var(--space-56);
}
.introducao .infoTec .figma::before{
  background: url(../img/progress01.svg) no-repeat center center;
}
.introducao .infoTec .htmlCss::before{
  background: url(../img/progress02.svg) no-repeat center center;
}
.introducao .infoTec .javaScript::before{
  background: url(../img/progress03.svg) no-repeat center center;
}
.introducao .infoTec .scrum::before{
  background: url(../img/progress03.svg) no-repeat center center;
}
.introducao .infoTec .uxUi::before{
  background: url(../img/progress02.svg) no-repeat center center;
}
/* =========== Portifolio ===========*/
.portfolio{
  grid-template-columns: 1fr;
  gap: var(--gap-0);
}
.portfolio h2{
  max-width: none;
  margin-bottom: -60px;
  color: var(--text-white-le);
}
.portfolio .headerTab{
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  gap: var(--gap-16);
}
.portfolio .headerTab h3{
  color: var(--text-black-he);
  padding: var(--space-12) var(--space-24) var(--space-4) var(--space-24);
  border-radius: var(--space-radio-40) var(--space-radio-14) var(--space-0) var(--space-0);
  box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.25) inset;;
}
.portfolio .headerTab .active{
  box-shadow: none;
}
.portfolio .headerTab .abaBranding{
  background: var(--green-2);
}
.portfolio .headerTab .abaWeb{
  background: var(--orange);
}
.portfolio .headerTab .abaApps{
  background: var(--ivory);
}
.portfolio .folder{
  max-width: 100%;
  height: 574px;
  display: flex;
  padding: var(--space-16);
  border-radius: var(--space-radio-14) var(--space-0) var(--space-radio-14) var(--space-radio-14);
  background: var(--ivory);
}
.portfolio .folder .content{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  grid-auto-rows: 250px;
  gap: var(--gap-10);
  width: 100%;
  padding: var(--space-8);
  border-radius:var(--space-radio-4);
  background: #B78E46;
  overflow-y: auto;
}
.portfolio .content .post{
  position: relative;
  display: block;
}
.portfolio .content .post{
  border-radius: 100px;
}
.portfolio .content .info_modal{
  display: block;
  position: absolute;
  z-index: 100;
  text-decoration: none;
  cursor: pointer;
  top: 0px;
  width: 100%;
  height: 250px;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}
.portfolio .info_modal .bg_button{
  position: absolute;
  z-index: 1;
  height: 87px;
  width: 87px;
  z-index: 1;
  right: var(--space-0);
  top: var(--space-0);
}
.portfolio .content .post .button_open{
  position: absolute;
  z-index: 2;
  right: 12px;
  top: 12px;
  width: 40px;
  height: 40px;
  background: url(../img/open.svg) no-repeat center;
  background-color: var(--bg-ibox-card);
  border-radius: var(--space-radio-40);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), -3px -1px 4px 0px rgba(0, 0, 0, 0.25);
}
.portfolio .content .post .title{
  display: flex;
  align-items: end;
  height: 250px;
  color: var(--white);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.20) 0.29%, rgba(0, 0, 0, 0.70) 99.71%);
}
.portfolio .content .post .title h3{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: var(--space-12);
}
.portfolio  .post:hover .info_modal{
  opacity: 1;
  pointer-events: all;
} 
/* =========== Experence ===========*/
.experiencia{
  border-radius: var(--space-radio-14);
  background: var(--bg-ibox);
  color: var(--text-black-he);
  align-items: flex-start;
  margin: var(--space-40) auto;
}
.experiencia h2{
 color: var(--text-black-le);
}
.experiencia .subtitulo{
  color: var(--text-black-me); 
  margin-bottom: var(--space-24);
}
.experiencia .descricao{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 3; 
  position: relative;
  max-width: 45ch;
  margin-bottom: var(--space-12);
}
.experiencia .descricao.quero_ver{
  display: block;
  color: var(--text-black-me);
}
.experiencia .ver_mais{
  position: absolute;
  top: 37px;
  right: var(--space-0);
  border: none;
  background: var(--bg-ibox-card);
  color: var(--green);
  cursor: pointer;
}
.experiencia .quero_ver .ver_mais{
  display: none;
}
.experiencia .ver_mais:hover{
  color: var(--green);
}
.experiencia p strong{
  color: var(--text-black-he); 
}
.empresa{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap-10);
  padding: var(--space-16);
  background: var(--bg-ibox-card);
  margin-bottom: var(--space-20);
  border-radius: var(--space-radio-4);
  position: relative;
}
.empresa::before {
  content: "";
  display: block;
  width: var(--space-4);
  height: var(--space-20);
  background: var(--green-light); 
  position: absolute;
  top: var(--space-24);
  left: -4px;
}
p.empresa_ano{
  position: absolute;
  text-align: right;
  top: var(--space-16);
  left: -50px;
  max-width: 4ch;
  width: var(--space-112);
  color: var(--text-black-me);
}
.empresa_titulo, .empresa_tech{
  color: var(--text-black-he);
}
.empresa_habilidades{
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-12);
  align-content: start;
}
.empresa_habilidades li {
  font-size: var(--font-p-sm);
  line-height: var(--line-height-140);
  border-radius: var(--space-radio-4);
  background: var(--bg-ibox);
  padding: var(--space-4) var(--space-12);
}
/* =========== Formação ===========*/
.formacao{
  padding-top: var(--space-64);
}
.formacao .subtitulo{
  color: var(--text-black-me);
}
.formacao_texto{
  color: var(--text-black-le);
  margin-bottom: var(--space-24);
 }
.formacao_texto strong{
  color: var(--text-white-he);
}
.university_list{
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-16);
  margin-bottom: var(--space-24);
 }
.university{
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 162px;
  background: black;
  padding: var(--space-20);
  border-radius: var(--space-radio-4);
 }
.university_type{
  text-transform: uppercase;
  color: var(--text-black-me);
  margin-bottom: var(--space-12);
} 
.faculdade_curso{
  flex: 1;
  min-height: var(--space-88);
  font-weight: var(--font-weight-700);
  line-height: var(--line-height-140);
  position: relative;
} 
.faculdade_curso::before {
  content: "";
  display: block;
  width: var(--space-4);
  height: var(--space-24);
  background: var(--green-light);
  position: absolute;
  left: -24px;
}
.skills h4{
  color: var(--text-black-me);
  font-weight: var(--font-weight-700);
  text-transform: uppercase;
  margin-bottom: var(--space-16);
  position: relative;
}
 .skills h4::before{
  display: block;
  content: "";
  width: var(--space-24);
  height: var(--space-24);
  position: absolute;
  left: -36px;
  top: var(--space-4);
  background: url(../img/cursos.svg) no-repeat  center;
 }
 .skills .idiomas h4::before{
  background: url(../img/language.svg) no-repeat  center;
 }
 .skills li{
   font-size: var(--font-p-md);
   margin-bottom:var(--space-20);
 }
 .skills span{
   color:var(--text-black-me);
 }
/* =========== Contato ===========*/
footer{
  margin: var(--space-0) var(--space-20);
}
.contact{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content:space-around;
  background: var(--green);
  border-radius: var(--space-radio-14);
}
.contact a{
  display: block;
  position: relative;
  font-size: var(--font-h5);
  color: var(--text-white-he);
  text-decoration-line: none;
  padding: var(--space-8);
}
.contact  a::before{
  display: block;
  content: "";
  width: var(--space-48);
  height: var(--space-48);
  position: absolute;
  left: -36px;
  top: -4px;
}
.contact .email::before{
  background: url(../img/email.svg) no-repeat center center;
}
.contact .numb::before{
  background: url(../img//whatsapp.svg) no-repeat center center;
}
.contact .link::before{
  background: url(/img/link.svg) no-repeat center center;
}

/* =========== Footer ===========*/
footer .copyright{
 display: flex;
 justify-content: space-between;
 color: var(--text-black-me);
}
footer img{
  width: 120px;
}
/* =========== Modal ===========*/
.modal_post {
  position: fixed;
  z-index: 1000;
  top: 0px;
  left: 0px;
  width: 100%;  
  height: 100vh;
  overflow-y:auto;
  background: white;
  color: var(--text-black-he);
  animation: fadeIn .4s forwards;  
}
@keyframes fadeIn{
  from {
    opacity: 0;
    transform: translate3D(0, 100%, 0);
  }
  to{
    opacity: 1;
    transform: translate3D(0px, 0, 0);
  }
}
.modal_post header {
  position: sticky; 
  top: 0px;
  background: var(--white);
  width: 100%;
  border-bottom: 1px solid var(--line-grey);
  z-index: 1001; 
}
.modal_post .container{
  display: flex;
  justify-content: space-between;
  align-self: center;
  padding: var(--space-16);
  margin: var(--space-0) auto;
}
.modal_post header button{
  padding: 20px 24px;
  border: none;
  background: url(../img/undo.svg) center no-repeat;
  background-color: var(--bg-ibox-card);
  border-radius: var(--space-radio-40);
  cursor: pointer;
}
.modal_post .content{
  max-width: 1200px;
  height: fit-content;
  margin: var(--space-0) auto;
  padding: var(--space-32) var(--space-16);
}
.modal_post figure{
 margin: var(--space-0) var(--space-0) var(--space-32) var(--space-0);
}
.modal_post figure img{
  max-height: 768px;
  border-radius: var(--space-radio-4);
}
.modal_post figure figcaption{
  text-align: center;
  font-style: italic;
  color: var(--text-black-me);
  padding: var(--space-12);
}
.modal_post h4{
  font-size: var(--font-h4-post);
  font-weight: var(--font-weight-500);
  margin: var(--space-0) var(--space-24) var(--space-12) var(--space-24);
}
.modal_post p{
  margin: var(--space-0) var(--space-24) var(--space-12) var(--space-24);
  font-size: var(--font-p-post);
  max-width: 80ch;
}
.modal_post p.bold{
  font-weight: var(--font-weight-700);
}
/* =========== Responsividade ===========*/
@media screen and (max-width: 1270px){
  :root{
    --font-h2: 6rem;
    --font-h3: 1.75rem;
  }
  h2{
    max-width: none;
  }
  .container.header{
    margin: var(--space-0) var(--space-32);
  }
  .container .introducao{
    align-items: center;
  }
  .introducao{
    grid: 
    "texto foto" 400px
    "tag   tag " 140px 
    /50%  auto;
    gap: var(--gap-16) var(--gap-16);
    padding-bottom: var(--space-44);
  }
  .introducao .photo_profile{
    margin-left: var(--space-16);
  }
  .introducao .infoTec  h3::before{
    left: var(--space-0);
    top: var(--space-40);
  }
  #experiencia{
    grid-template-columns: 1fr;
    gap: var(--gap-10);
    margin: var(--space-0) var(--space-20);
  }
  .experiencia h2 {   
    margin-left: var(--space-56);
  }
  #experiencia div {
    padding-left: var(--space-64);
  }
  .container.formacao{
    grid-template-columns: 1fr;
    gap: var(--gap-10);
  }
  .formacao_texto {
    max-width: 900px;
  }
   .formacao .skills{
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-44);
   }
   .skills h4{
    margin-left: var(--space-36);
    }
    .faculdade_curso{
      min-height: var(--space-48);
    } 
}
@media screen and (max-width: 1026px){
  :root{
    --font-h2: 4rem;
    --font-p-lg: 1.25rem;
  }
  #experiencia div {
    padding-left: inherit;
  }
  .experiencia h2 {
    margin-left: var(--space-20);
  }
  .empresa {
    grid-template-columns: 1fr;
    gap: var(--gap-0);
  }
  .experiencia .descricao{
    max-width: max-content;
  }
  p.empresa_ano {
    position: initial;
    order: 1;
    width: initial;
    max-width: initial;
    text-align: left;
    margin-top: var(--space-8);
  } 
  p.empresa_ano::before{
    content: "Ano: ";
  }
}
@media (max-width: 844px) {
  :root{
    /* == Font == */
    --font-h1: 2.25rem;
    --font-h3: 1.25rem;
    --font-h4: 1.5rem;
    --font-p-lg: 1.1rem;
  }
  .introducao {
    grid:
    "texto" auto
    "foto" 
    "tag " 140px;
    gap: var(--gap-16) var(--gap-16);
    padding-bottom: var(--space-44);
  }
  .introducao h1::before {
    width: var(--space-80);
    height: var(--space-64);
    background: url(../img/detalhe.svg) no-repeat center;
    background-size: 80px 70px;
    position: absolute;
    top: -12px;
    left: -24px;
    z-index: -1;
  }
  .introducao .photo_profile {
    margin-left: var(--space-0);
    width: 100%;
    max-height: 200px;
  }
  
  .introducao .infoTec h3 {
    min-width: var(--space-104);
  }
  .introducao .infoTec h3::before {
    width: var(--space-104);
    top: var(--space-28);
  }
  .introducao .infoTec .figma::before,
  .introducao .infoTec .htmlCss::before,
  .introducao .infoTec .javaScript::before,
  .introducao .infoTec .scrum::before,
  .introducao .infoTec .uxUi::before{
    background-size: 100px;
  }
}

@media (max-width: 768px) {
  #menu {
    display: block;
    position: absolute;
    width: 150px;
    top: 102px;
    right: 80px;
    background: white;
    transition: 0.2s;
    z-index: 1000;
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav.active #menu {
    visibility: visible;
  }
  #menu a {
    padding: 1rem;
    border-bottom: 2px solid var(--line-grey);
    color: var(--text-black-he);
  }
  #btn_mobile {
    display: flex;
    padding: 1rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    background: none;
  }
  #hamburger {
    width: var(--space-28);
    border-top: 2px solid;
    color: #00A2A6;
  }
  #hamburger::after,
  #hamburger::before {
    content: '';
    display: block;
    color: #00A2A6;
    width: var(--space-28);
    height: 2px;
    background: currentColor;
    margin-top: var(--space-8);
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -10px;
  }
}
