.header {
  max-width: 1200px;
  padding: 20px 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_menu {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.header_menu a {
  display: block;
  padding: 10px 10px;
  font-size: 1.125rem;
  line-height: 1.3;
  text-decoration: none;
  color: #fff;
}

