.portfolio{
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
}
.portfolio h2{
  color: #444444;
  max-width: none;
  margin-bottom: -46px;
}
.portfolio .headerTab{
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  gap: 1rem;
}
.portfolio .headerTab h4{
  color: #161616;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;

  margin: 0px;
  padding: 12px 20px 5px 20px;
  border-radius: 2.4375rem 0.875rem var(--0, 0rem) var(--0, 0rem);
}

.portfolio .headerTab .abaBranding{
  background: #34AE75;
  box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.25) inset;;
}
.portfolio .headerTab .abaWeb{
  background: #FF581F;
  box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.25) inset;;
}
.portfolio .headerTab .abaApps{
  background: #FDC959;
}
.portfolio .folder{
  max-width: 100%;
  height: 574px;
  display: flex;
  padding: 16px;
  border-radius: 16px var(--0, 0px) 16px 16px;
  background: #FDC959;
}
.portfolio .folder .content{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 4px;
  border-radius: 1rem;
  background: rgba(22, 22, 22, 0.30); 
}
.portfolio .folder .content  div{
  flex: 1 1 300px;
  height: auto;
  margin: 4px;
  background-color: #FF581F;
 }
 .portfolio .folder .content  div{
  background: url("/img/portfolio/web/Frame\ 1208.png");
  background-size: cover;
 }
 

